<nav
  class="navbar navbar-expand-lg navbar-dark bg-gradient-dark z-index-3 py-3">
  <div class="container">
    <a class="navbar-brand text-white" href="{% url "electron:category-list" %}" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
      Electron - Online Electronic Shopping
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
      <ul class="navbar-nav navbar-nav-hover mx-auto">
        <li class="nav-item mx-2">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url "electron:category-list" %}">
            Catalog
          </a>
        </li>
       <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url "electron:cart" %}">
        <li class="nav-item mx-2">
            Shopping cart
        </li>
         {% if user.is_authenticated %}
            <h7 class="cart-count">
                {{ items_in_cart }}
            </h7>
          {% endif %}
       </a>
        {% if user.is_authenticated %}

          <li class="nav-item mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url 'electron:orders' %}">
              Orders
            </a>
          </li>

          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url 'logout' %}">
              Logout
            </a>
          </li>
        {% else %}
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url "login" %}">
              SignIn
            </a>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" role="button" href="{% url "registration" %}">
              SignUp
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
