{% if is_paginated %}
  <section class="py-7">
    <div class="container">
      <div class="row justify-space-between py-2">
        <div class="col-lg-4 mx-auto">
          <ul class="pagination pagination-primary m-4">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page= {{ page_obj.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </a>
              </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active">
                  <span class="page-link">{{ page_obj.number }}</span>
                </li>
              {% else %}
                <li class="page-item active">
                  <a href="?page={{ i }}"><span class="page-link">{{ i }}</span></a>
                </li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li>
                <a class="page-link" href="?page= {{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endif %}