{% extends "base.html" %}
{% block title %}
  Shopping Cart - Online Electronic Shopping
{% endblock %}

{% block content %}
    {% if cart_items %}
      <table class="table">
        <tr>
          <th style="width: 4%">ID</th>
          <th style="width: 50%">Product</th>
          <th style="width: 13%">Amount</th>
          <th style="width: 13%">Price</th>
          <th style="width: 13%">Sum</th>
          <th style="width: 7%"></th>
        </tr>
        {% for item in cart_items %}
          <tr>
            <td>{{ item.product.id }}</td>
            <td>{{ item.product.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.product.price }}</td>
            <td>{% widthratio item.amount 1 item.product.price %}</td>
            <td>
              <form action="{% url "electron:delete-from-cart" pk=item.product.id %}" method="post">
                {% csrf_token %}
                <button href="{% url "electron:delete-from-cart" pk=item.product.id %}" class="badge bg-gradient-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete form cart">
                  <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g id="Edit / Remove_Minus_Circle">
                  <path id="Vector" d="M8 12H16M12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12C21 16.9706 16.9706 21 12 21Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total sum</td>
            <td>{{ sum_cart }}</td>
            <td></td>
         </tr>
        </table>
        <div class="container-fluid px-0 overflow-hidden">
          <div class="row text-center py-2 mt-3">
            <div class="col-12 mx-auto">
                <form action="" method="post" style="display: block; margin-left: auto; margin-right: auto;">
                  {% csrf_token %}
                  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modal-default">Make a Purchase</button>
                  <!-- Modal Content -->
                    <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2 class="h6 modal-title">Confirm purchase</h2>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Do you confirm the purchase?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info">Confirm</button>
                                    <button type="button" class="btn btn-link ms-auto"
                                        data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
      {% else %}
        <h2 style="text-align: center; margin-top: 10rem;">You don't have any products in cart</h2>
    {% endif %}

{% endblock %}
