{% extends "base.html" %}

{% block title %}
  {% if category_name %}{{ category_name }}{% else %}Search{% endif %} - Electron
{% endblock %}

{% block content %}

  {% include "includes/search_form.html" %}
{% if product_list %}
  <div class="container">
      <div class="row">
        <div class="row">
          {% for product in product_list %}
                <div class="col-md-3 shadow">
                  <a href="{% url "electron:product-detail" pk=product.id %}">
                    <div class="p-3 text-center">
                      {% if product.cover_image %}
                        <img src="/{{ product.cover_image }}" alt="">
                      {% else %}
                        <img src="/File-No-Image-Placeholder.jpg" alt="">
                      {% endif %}
                      <h5 class="mt-3">{{ product.name }}</h5>
                      <h5 class="mt-3">Price: {{ product.price }} USD</h5>
                    </div>
                  <p class="pe-5">
                    {{ product.description|linebreaks|truncatewords:20 }}
                  </p>
                  </a>
                </div>
          {% endfor %}
        </div>
    </div>
  </div>
{% else %}
  <h1 class="d-flex align-items-center justify-content-center">There are no products</h1>
{% endif %}
  {% include  "includes/pagination.html" %}
{% endblock %}
